:root{    
    --primary-font:'PT Sans', sans-serif;
    --secondary-font:'Arimo',sans-serif;
    --header:#E5D4FF; 
    --left-col:#D0A2F7;
    --right-col:#F1EAFF;
    --gray:#C7C8CC;
    --darkgreen:#064420;
    --black:#353535;
    --white:#FFF;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* header */
.logo{
padding: 30px 50px ;
}

.header{
    background:var(--header);
}

.menu-icon{
        width: 30px;
}
.fixed-menu {
    position: fixed;
    transform: translateX(39em);
    background-color: rgb(229, 175, 229);
    border: 1px solid rgb(226, 116, 226);
    border-radius: 10px;
    opacity: 30%;
}

.loc, .call, .mail{
    width: 30px;
    height: 20px;
}
.contact-details{
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--black);
    line-height: 200%;
    text-align: right;
    padding-top: 40px;
    padding-right: 50px;
}
.icon{
    width: 50px;
    height: 30px;
}
.icon:hover{
    transform: scale(1.1);
}

h4{
    font-family: var(--primary-font);
    font-weight:800;
    letter-spacing: 10px;
    color: var(--white);
}

h5{
    font-family: var(--secondary-font);
    color: var(--darkgreen);
}

hr{
    background-color: #064420;
}

/* left col content*/
.left-col{
    padding: 70px 50px 40px 30px;
    background-color: var(--left-col);
    }
    .left-col p{
        font-family: var(--secondary-font);
        color: var(--black);
    }
    .rounded-circle{
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    /* education */
    /* school name */
    .year-level{
        font-size: 16px;
        font-family: var(--secondary-font);
        line-height: 150%;
        color:var(--black);
    }
    /* school year */
    .year-range{
        font-size: 13px;
        font-family: var(--secondary-font);
        color: var(--black);
        margin-left: 60px;
    }
    /* achievements */
    .a-details{
        display: flex;
    }
    .school-year{
        margin-right: 30px;
        font-size: 16px;
    }
    .awards{
        line-height: 100%;
    }
    .honor{
        font-size: 16px;
    }
    .g-level{
        font-size: 13px;
    }
    .a-details p, .school-year p{
        margin-bottom: 5px;
    }

/* right-col content */
    .right-col{
        padding: 50px 100px 0px;
        background-color: var(--right-col);
        font-size:16px; 
        font-family: var(--secondary-font);
    }

    .right-col p{
        font-family: var(--secondary-font);
        color: black;
        font-size: 17px;
    }
    
    .title{
        color:#86469C;
    }
    .set{
line-height: 190%;
font-family: var(--secondary-font);
font-family: var(--secondary-font);
color: black;
font-size: 17px;
    }

    .toolset{
        width: 60px;
        height: 60px;
        margin:20px 60px
    }
        .toolset:hover{
            transform: scale(1.1);
        }
        .tool-names p{
            display: inline-block;
            margin-right: 50px;
            margin-left: 60px;
            font-size: 16px;
        }
        .tool-names-too p{
            display: inline-block;
            margin-right: 55px;
            margin-left: 50px;
            font-size: 16px;
        }

/* end */


/* responsive era */
/* first small */
        @media screen and (max-width: 1196px) {
            .icon{
                margin-bottom: 10px;
            }
            .toolset {
                width: 60px;
                height: 60px;
                margin: 20px 40px;
            }
            .tool-names p{
                display: inline-block;
                margin-right: 15px;
                margin-left: 50px;
                font-size: 16px;
            }
            .tool-names-too p{
                display: inline-block;
                margin-right: 20px;
                margin-left: 40px;
                font-size: 16px;
            }
            .ac-title{
                font-family: var(--primary-font);
                font-weight:800;
                letter-spacing: 5px;
                color: var(--white);
            }
        }

        /* second small */
        @media screen and (max-width:990px) {
            .main {
                flex-direction: column-reverse;
            }
            .logo{
                padding: 30px 80px;
            }
            .contact-details{
                text-align: left;
                margin-left: 50px;
                padding-top: 50px;
                padding-bottom: 20px;
            }
            .icon{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .left-col{
                padding: 70px 100px 40px 100px;
                background-color: var(--left-col);
                }
            .toolset {
                width: 60px;
                height: 60px;
                margin: 20px 50px;
            }
            .tool-names p{
                display: inline-block;
                margin-right: 30px;
                margin-left: 55px;
                font-size: 16px;
            }
            .tool-names-too p{
                display: inline-block;
                margin-right: 45px;
                margin-left: 40px;
                font-size: 16px;
            }
            .ac-title{
                font-family: var(--primary-font);
                font-weight:800;
                letter-spacing: 10px;
                color: var(--white);
            }
        }

/* third small */
        @media screen and (max-width: 767px) {
            .fixed-menu{
                transform: translateX(28em);
            }
            .toolset {
                width: 60px;
                height: 60px;
                margin: 20px 25px;
            }
            .tool-names p{
                display: inline-block;
                margin-right: 22px;
                margin-left: 15px;
                font-size: 16px;
            }
            .tool-names-too p{
                display: inline-block;
                margin-right: 24px;
                margin-left: 10px;
                font-size: 16px;
            }
            .ac-title{
                font-family: var(--primary-font);
                font-weight:800;
                letter-spacing: 10px;
                color: var(--white);
            }
        }
/* fourth small */
        @media screen and (max-width: 575px) {
            .fixed-menu{
                transform: translateX(30em);
            }
            .toolset {
                width: 50px;
                height: 50px;
                margin: 20px 30px;
            }
            .tool-names p{
                display: inline-block;
                margin-right: 10px;
                margin-left: 25px;
                font-size: 16px;
            }
            .tool-names-too p{
                display: inline-block;
                margin-right: 19px;
                margin-left: 15px;
                font-size: 16px;
            }
            .ac-title{
                font-family: var(--primary-font);
                font-weight:800;
                letter-spacing: 10px;
                color: var(--white);
            }
        }
/* cellphone size */
        @media screen and (max-width: 425px) {
            .right-col{
                padding: 50px 20px 0px 30px;
            }
            .left-col{
                padding: 50px 20px 40px 30px;
        }
        .toolset {
            width: 30px;
            height: 30px;
            margin: 20px 35px;
        }
        .tool-names p{
            display: inline-block;
            margin-right: 10px;
            margin-left: 25px;
            font-size: 16px;
        }
        .tool-names-too p{
            display: inline-block;
            margin-right: 19px;
            margin-left: 15px;
            font-size: 16px;
        }
        .fixed-menu{
            transform: translateX(18em);
        }
        .contact-details{
            text-align: left;
            padding-top: 1px;
            padding-right: 50px;
        }
        .icon{
            padding-right: 10px;
        }
    }
